@charset "UTF-8";
@import "./_utils.scss";
@import "./_reset.scss";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $color-white;
}

// * 網頁內容佈局寬度
.wrap {
    width: calc(100% - 40px);
    margin: auto;
    @include min-width(1280px + 20px) {
        max-width: 1280px;
    }
}

// * Header
.header {
    width: 100%;
    height: 90px;
    background-color: $color-white;

    > .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// * Menu
.menu {
    display: flex;
    align-items: center;
}

.menu-link {
    display: block;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 22px;
    font-weight: 600;
    color: $color-black;
}

.logo {
    color: $color-black;
    font-size: 39px;
    font-weight: 700;
    line-height: 1.6em;
}

// * Footer
.footer {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: $color-gray-light;
}

.mainFooter {
    display: flex;
}

.footer-item {
    margin-right: 90px;
}

.copyright {
    margin-top: 20px;
    color: $color-black;
    font-weight: 600;
    text-align: right;
}

.contact {
    padding-left: 10px;
    padding-right: 10px;

    p, a {
        display: block;
        color: $color-black;
        font-weight: 600;

        &::before {
            @include material;
            line-height: 1.6em;
            font-size: 22px;
            margin-right: 10px;
        }

        &.icon-place::before {
            content: 'place';
        }

        &.icon-phone::before {
            content: 'phone';
        }

        &.icon-email::before {
            content: 'email';
        }
    }
}

.sitmap-link {
    display: block;
    line-height: 1.6em;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    color: $color-black;
}

// * Title
.title {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4em;
    color: $color-black;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6em;
    color: $color-gray-dark;
}

// * 表單元件
.fieldset {
    width: 100%;
    margin-bottom: 1rem;

    &.col-50 {
        width: 50%;
        padding-right: 10px;

        & + .col-50 {
            padding-left: 10px;
            padding-right: 0px;
        }
    }
}

label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    color: $color-black;
}

input[type="text"] {
    width: 100%;
    height: 35px;
    display: block;
    padding: 3px 13px;
    margin: 0px;
    border: none;
    border-bottom: 2px $color-black solid;
    border-radius: 0px;
    appearance: none;
    outline: none;
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
    color: $color-gray-dark;
}

.ctrl-checkout {
    .vdp-datepicker__calendar {
        right: 0;
    }
}

.submit-btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.2em;
    color: $color-white;
    background-color: $color-black;

    @include min-width(1025px) {
        &:hover {
            background-color: $color-gray-dark;
        }
    };
}

// * 動畫
.fade-leave,
.fade-enter-to {
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .3s;
}